<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/admin.css" rel="stylesheet" />
    <link rel="icon" href="../assets/img/NBS.svg" />

    <!--typo-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Inter:ital,opsz@0,14..32;1,14..32&family=Parkinsans:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a class="positionlogo" href="..\index.html">
          <img class="imgheader" src="..\assets\img\NBS.svg" alt="logo" />
        </a>

        <a href="dev_web.html" class="bouton">Développement web</a>
        <a href="com_graph.html" class="bouton">Communication Graphique</a>
        <a href="com_digit.html" class="bouton">Communication Digital</a>
        <a href="marketing_digit.html" class="bouton">Marketing Digital</a>
        <a href="post.html" class="bouton">Faire un post</a>
        <a href="../template/admin.html">
          <img src="../assets/img/alarme.png" alt="Admin" class="img-alarme" />
        </a>
      </nav>
    </header>

    <main>
      <h1>Administration :</h1>
      <table>
        <caption>
          Liste des post :
        </caption>
        <thead>
          <tr>
            <th>Titre</th>
            <th>date et heure</th>
            <th>spécialité</th>
            <th>Nom et Prénom de l'auteur</th>
            <th>Année de l'auteur</th>
            <th>Supprimé un post</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="post-dev/dev-02-12-24-15h47.html">
                Comment faire pour héberger un site gratuitement ?</a
              >
            </td>
            <td>02/12/24 15h47</td>
            <td>Développement web</td>
            <td>Nino Rameau</td>
            <td>A1</td>
            <td><img src="../assets/img/supprim-post.jpg" class="croix" /></td>
          </tr>
          <tr>
            <td>
              <a href="post-com-graph/com-gr-01-12-24-16h24.html">
                Quels sont vos secrets pour créer une affiche qui capte
                l’attention ?</a
              >
            </td>
            <td>01/12/24 16h24</td>
            <td>Communication Graphique</td>
            <td>Samir Bahri</td>
            <td>A1</td>
            <td><img src="../assets/img/supprim-post.jpg" class="croix" /></td>
          </tr>
          <tr>
            <td>
              <a href="post-market-digit/mark-digi-01-12-24-11h27.html">
                Quels outils gratuits utilisez-vous pour analyser le trafic d’un
                site ?</a
              >
            </td>
            <td>01/12/24 11h27</td>
            <td>Marketing Digital</td>
            <td>Grégoire Hagues</td>
            <td>A1</td>
            <td><img src="../assets/img/supprim-post.jpg" class="croix" /></td>
          </tr>
          <tr>
            <td>
              <a href="post-com-digit/com-digit-30-11-24-18h01.html">
                Quels types de contenu fonctionnent le mieux sur LinkedIn ?</a
              >
            </td>
            <td>30/11/24 18h01</td>
            <td>Communication Digitale</td>
            <td>Simon Dubosc</td>
            <td>A1</td>
            <td><img src="../assets/img/supprim-post.jpg" class="croix" /></td>
          </tr>
          <tr>
            <td>
              <a href="post-com-digit/com-digit-29-11-24-13h57.html">
                Comment gérer les commentaires négatifs sur les réseaux sociaux
                ?</a
              >
            </td>
            <td>29/11/24 13h57</td>
            <td>Communication Digitale</td>
            <td>Simon Dubosc</td>
            <td>A1</td>
            <td><img src="../assets/img/supprim-post.jpg" class="croix" /></td>
          </tr>
          <tr>
            <td>
              <a href="post-dev/dev-28-11-24-09h14.html">
                Est-ce que vous avez des astuces pour apprendre le JS plus vite
                ?</a
              >
            </td>
            <td>28/11/24 09h14</td>
            <td>Développement web</td>
            <td>Yrieix Cisterne</td>
            <td>A1</td>
            <td><img src="../assets/img/supprim-post.jpg" class="croix" /></td>
          </tr>
          <tr>
            <td>
              <a href="post-com-graph/com-graph-28-11-24-09h10.html">
                Plutôt minimaliste ou maximaliste pour vos designs ?</a
              >
            </td>
            <td>28/11/24 09h10</td>
            <td>Communication Graphique</td>
            <td>Samir Bahri</td>
            <td>A1</td>
            <td><img src="../assets/img/supprim-post.jpg" class="croix" /></td>
          </tr>
          <tr>
            <td>
              <a href="post-market-digit/mark-digit-27-11-24-15h48.html">
                Vous avez des astuces pour mieux optimiser les campagnes
                Facebook Ads ?</a
              >
            </td>
            <td>27/11/24 15h48</td>
            <td>Marketing Digital</td>
            <td>Grégoire Hagues</td>
            <td>A1</td>
            <td><img src="../assets/img/supprim-post.jpg" class="croix" /></td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer>
      Copyright © 2024 Normandie Blog School
      <br />
      Mentions légales | Conditions Générales
    </footer>
  </body>
</html>
