<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>communication graphique</title>
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link rel="icon" href="../assets/img/NBS.svg" />

    <!--typo-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Inter:ital,opsz@0,14..32;1,14..32&family=Parkinsans:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <a class="positionlogo" href="../index.html">
        <img class="imgheader" src="../assets/img/NBS.svg" alt="logo" />
      </a>
      <nav class="header-nav">
        <a href="post.html" class="bouton btn-creer-post"> Créer un post</a>
        <a href="admin.html">
          <img src="../assets/img/alarme.gif" alt="Admin" class="img-alarme" />
        </a>
      </nav>
    </header>

    <main>
      <h1>Les derniers post publiés :</h1>
      <nav class="filters">
        <a href="/" class="bouton tout">Tout</a>
        <a href="dev_web.html" class="bouton btn-spe-dev">Développement web</a>
        <a href="com_graph.html" class="bouton btn-spe-com-graph active">
          Communication Graphique
        </a>
        <a href="com_digit.html" class="bouton btn-spe-com-digi">
          Communication Digital
        </a>
        <a href="marketing_digit.html" class="bouton btn-spe-market-digi">
          Marketing Digital
        </a>
      </nav>
      <div class="carte-ligne-x4">
        <div class="carte">
          <h1>
            Quels sont vos secrets pour créer une affiche qui capte l’attention
            ?
          </h1>
          <h2 class="tag com-graph">Communication Graphique</h2>
          <p class="description">
            Salut à tous, je travaille sur une affiche pour un événement, et je
            veux qu’elle se démarque parmi des dizaines d’autres. Vous avez des
            astuces pour capter le regard au premier coup d’œil ?
          </p>
          <a
            href="../template/post-com-graph/com-gr-01-12-24-16-24.html"
            class="bouton-carte"
          >
            Voir
          </a>
          <h5>Samir Bahri 01/12/24 16h24</h5>
        </div>
      </div>
    </main>
    <footer>
      Copyright © 2024 Normandie Blog School
      <br />
      Mentions légales | Conditions Générales
    </footer>
  </body>
</html>
