<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accueil</title>
        <link href="../assets/css/style.css" rel="stylesheet" />
        <link rel="icon" href="../assets/img/favicon.png" />       <!--FAVICON A FAIRE-->

        <!--typo-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Inter:ital,opsz@0,14..32;1,14..32&family=Parkinsans:wght@800&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <a href="../index.html"> <img class="img_Header" src="../assets/img/img_tempo.png" alt="logo" /> </a>
            <a class="bouton" href="dev_web.html"><button>Développement web</button></a>
            <a class="bouton" href="com_graph.html"><button>Communication Graphique</button></a>
            <a class="bouton" href="com_digit.html"><button>Communication Digital</button></a>
            <a class="bouton" href="marketing_digit.html"><button>Marketing Digital</button></a>
            <a class="bouton" href="post.html"><button>Faire un post</button></a>
        </header>

        <main>
            <h1>Marketing Digital</h1>
            <h2>Dernier post</h2>
            <p>Deserunt sint quis commodo esse eu veniam irure velit aliquip sit. Duis non esse nostrud non reprehenderit id occaecat tempor sit fugiat. Culpa culpa anim cillum dolore reprehenderit cupidatat sint nostrud eiusmod commodo culpa</p>
        </main>
        <footer>
            Copyright © 2024 Normandie Blog School
            <br>
            Mentions légales | Conditions Générales
        </footer>
    </body>
</html>