<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>developpement web</title>
    <link href="../../assets/css/style.css" rel="stylesheet" />
    <link rel="icon" href="../../assets/img/NBS.svg" />

    <!--typo-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Inter:ital,opsz@0,14..32;1,14..32&family=Parkinsans:wght@800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a class="positionlogo" href="..\..\index.html">
          <img class="imgheader" src="..\..\assets\img\NBS.svg" alt="logo" />
        </a>

        <a href="../dev_web.html" class="bouton">Développement web</a>
        <a href="../com_graph.html" class="bouton">Communication Graphique</a>
        <a href="../com_digit.html" class="bouton">Communication Digital</a>
        <a href="../marketing_digit.html" class="bouton">Marketing Digital</a>
        <a href="../post.html" class="bouton">Faire un post</a>
        <a href="../../template/admin.html">
          <img
            src="../../assets/img/alarme.png"
            alt="Admin"
            class="img-alarme"
          />
        </a>
      </nav>
    </header>

    <main>
      <h1>Titre</h1>
      <h2>spe</h2>
      <p>message</p>
      <h5>prénom nom date heure</h5>
    </main>
    <footer>
      Copyright © 2024 Normandie Blog School
      <br />
      Mentions légales | Conditions Générales
    </footer>
  </body>
</html>
